<div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-12">
              <!-- Back Button -->
        <div class="d-flex justify-content-start mb-3">
            <button class="btn btn-secondary" (click)="goBack()">
            <i class="fas fa-arrow-left me-2"></i> Back
            </button>
        </div>
        <div class="card shadow-lg">
          <div class="card-body">
            <h3 class="card-title text-center mb-4">Admin Login</h3>
  
            <form>
              <!-- User ID Field -->
              <div class="form-group mb-3">
                <label for="userid">User ID</label>
                <input type="text" class="form-control" id="userid" placeholder="Enter your User ID" required>
              </div>
  
              <!-- Password Field -->
              <div class="form-group mb-3">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" placeholder="Enter your Password" required>
              </div>
            </form>
  
          </div>
        </div>
      </div>
    </div>
  </div>
  