<div class="container mt-5">
    <h1 class="text-center mb-4">Schedule Your Appointment</h1>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name" style="font-size: large; font-weight: 500;">Name</label>
        <input type="text" name="name" id="name" class="form-control" placeholder="Enter your name" [(ngModel)]="appointment.name" required>
      </div><br>

      <div class="form-group">
        <label for="age" style="font-size: large; font-weight: 500;">Age</label>
        <input type="number" name="age" id="age" class="form-control" placeholder="Enter your age" [(ngModel)]="appointment.age" required>
      </div><br>

      <div class="form-group">
        <label for="phone" style="font-size: large; font-weight: 500;">Phone Number</label>
        <input type="tel" name="phone" id="phone" class="form-control" placeholder="Enter your phone number" [(ngModel)]="appointment.phone" required>
      </div><br>

      <div class="form-group">
        <label for="symptoms" style="font-size: large; font-weight: 500;">Symptoms</label>
        <textarea id="symptoms" name="symptoms" class="form-control" rows="3" placeholder="Enter your symptoms" [(ngModel)]="appointment.symptoms" required></textarea>
      </div> <br>
      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
</div>