<div class="container mt-5">
    <h1 class="text-center mb-4">Add New Medicine</h1>
    <form>
      <div class="form-group">
        <label for="drug" style="font-size: large; font-weight: 500;">Drug Name</label>
        <input type="text" name="name" id="drug" class="form-control" placeholder="Enter drug medicine name" required>
      </div><br>

      <div class="form-group">
        <label for="phone" style="font-size: large; font-weight: 500;">Stock</label>
        <input type="number" name="stock" id="stock" class="form-control" placeholder="Enter total stocks" required>
      </div><br>

      <div class="form-group text-center">
        <button type="submit" class="btn btn-primary">Add Medicine</button>
      </div>
    </form>
  </div>